.content-header{
  padding:0 22px;
  margin-bottom:25px;
  h2{
    font-size: 15px;
    color: #777;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 16.5px;
  }
  small{
    display: block;
    text-transform: none;
    margin-top: 8px;
    color: #9E9E9E;
    line-height: 140%;
  }
}
