@import '~@angular/material/prebuilt-themes/indigo-pink.css';
//font
@font-face {
  font-family: roboto;
  src: url(./assets/font/roboto/Roboto-Light-webfont.woff) format("woff");
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: roboto;
  src: url(./assets/font/roboto/Roboto-Regular-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: roboto;
  src: url(./assets/font/roboto/Roboto-Medium-webfont.woff) format("woff");
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: roboto;
  src: url(./assets/font/roboto/Roboto-Bold-webfont.woff) format("woff");
  font-weight: 700;
  font-style: normal
}
//reset
body, dl, dd, h1, h2, h3, h4, h5, h6, p, form{margin:0;};
ol,ul{margin:0; padding:0;}
html,body{
  min-height: 100vh;
}
*{
  box-sizing: border-box;
}
a{
  text-decoration: none!important;
}
// common
body{
  font-weight: 400;
  font-size: 13px;
  color:#5e5e5e;
  background-color: #edecec;
  position: relative;
  font-family: roboto,serif;
  line-height: 1.42857143;
}
.mat-icon{
  user-select:none;
}
//patch
.login-wrapper{
  .mat-checkbox-inner-container-no-side-margin {
    margin-right: 8px;
  }
}


