.main-wrapper{
  position: relative;
  padding-top: 65px;
  min-height: 100vh;
}
.content-wrapper{
  padding: 30px 0 30px 268px;
}
.container{
  width:calc(100% - 30px);
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
