.login-wrapper{
  text-align: center;
  overflow: hidden;
  height: 100%;
  width:100%;
}
.login-wrapper:before{
  height: 50%;
  width:100%;
  position: absolute;
  left:0;
  top:0;
  background-color: #00bcd4;
  content:"";
  z-index: 0;
}
