<ul class="main-menu">
  <li>
    <a><i><mat-icon>home</mat-icon></i>Home</a>
  </li>
  <li>
    <a><i><mat-icon>format_underlined</mat-icon></i>Typography</a>
  </li>
  <li>
    <a><i><mat-icon>widgets</mat-icon></i>Widgets</a>
  </li>
  <li class="toggle-menu">
    <a>
      <i><mat-icon>format_list_bulleted</mat-icon></i>Tables
      <i class="back-icon"><mat-icon>add</mat-icon></i>
    </a>
    <ul>
      <li>
        <a>Tables</a>
      </li>
      <li>
        <a>Data Tables</a>
      </li>
    </ul>
  </li>
  <li class="toggle-menu active">
    <a>
      <i><mat-icon>library_books</mat-icon></i>Forms
      <i class="back-icon"><mat-icon>remove</mat-icon></i>
    </a>
    <ul>
      <li>
        <a>Basic Form Elements</a>
      </li>
      <li>
        <a>Form Components</a>
      </li>
      <li>
        <a>Form Examples</a>
      </li>
      <li>
        <a>Form Validation</a>
      </li>
    </ul>
  </li>
  <li>
    <a><i><mat-icon>swap_calls</mat-icon></i>User Interface</a>
  </li>
  <li>
    <a><i><mat-icon>trending_up</mat-icon></i>Charts</a>
  </li>
  <li>
    <a><i><mat-icon>event</mat-icon></i>Calendar</a>
  </li>
  <li>
    <a><i><mat-icon>image</mat-icon></i>Photo Gallery</a>
  </li>
  <li>
    <a><i><mat-icon>layers</mat-icon></i>Generic Classes</a>
  </li>
  <li>
    <a><i><mat-icon>filter_none</mat-icon></i>Sample Pages</a>
  </li>
</ul>
