<div class="profile-wrapper">
  <div class="profile-info" (click)="toggleProfileMenu()"  appSidebarTransition>
    <div class="profile-pic">
      <div class="avatar"></div>
    </div>
    <div class="profile-name">
      Malinda Hollaway<i><mat-icon>{{iconName}}</mat-icon></i>
    </div>
  </div>
    <ul class="main-menu" [ngStyle]="{'border-bottom':iconName === 'arrow_drop_up'?'1px solid #E6E6E6':0}">
      <li>
        <a><i><mat-icon>person</mat-icon></i>View Profile</a>
      </li>
      <li>
        <a><i><mat-icon>settings_input_antenna</mat-icon></i>Privacy Setting</a>
      </li>
      <li>
        <a><i><mat-icon>settings</mat-icon></i>Settings</a>
      </li>
      <li>
        <a routerLink="/login"><i><mat-icon>restore</mat-icon></i>Logout</a>
      </li>
    </ul>
  </div>

